section{font-family: Noto+Sans+KR;}

#app_download {
    background-color: #6A92FE;
    padding: 3.7rem 0;
    position: relative;
    background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_animal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;}

    
    #app_download:before {
        content: "";
        position: absolute;
        left: 0;
        width: 30%;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
    }

    #app_download:after {
        content: "";
        position: absolute;
        right: 0px;
        width: 30%;
        top: 0;
        bottom: 0px;
        background-size: 25rem 18.5rem;
        background-repeat: no-repeat;
        background-image: url(//hyunjiq.github.io/petopia/img/img_je/bn_cloud1.svg);
        transform: scaleX(-1);
    }

        .app_come {
            font-weight: bold;
            font-size: 2.4rem;
        }
        .app_come_first {
            font-size: 1.8rem;
        }
        .app_down {
            background-color: #FFFFFF;
            border-radius: 1.9rem;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.8rem 3rem;
        }
       .container{
                z-index: 1;
            }
        @media (max-width: 1200px) {
           
            #jeAppbanner {
                justify-content: center !important;
                text-align: center;
            }
            #app_download{
                background-image: none;

            }
          }
          @media (max-width :992px) {
            #app_download:before, #app_download:after {
                width: 15rem;
                background-size: 19rem 15rem;
            }
            .app_come {
                font-size: 2rem;
            }
            .app_come_first {
                font-size: 1.4rem;
            }
            .apptext{
                margin-right: 2rem;
            }
        }
        
          @media (max-width: 768px) {
           
            #jeAppbanner {
                justify-content: center;
                flex-direction: column;
            }    
            #app_download{
                background-image: none;                
                height: 14.4rem;
            }
            #app_download:before, #app_download:after {
                bottom: 0;
                background-size: 22rem 18rem;
            }
            .app_down{
                margin-top: 0.5rem;
                width: 16.9rem;
                height: 3.1rem;
                font-size: 1.3rem;
            }
            .app_come {
                font-size: 2.1rem;
            }
          }

          @media (max-width: 576px) {
                  
            #app_download:before,
            #app_download:after {
                display: none; 
            }
            #jeAppbanner {
                align-items: center; 
            }
            .app_down {
                margin-top: 1rem;
                margin-left: 0.5rem; 
            }
        }

        @media (max-width: 320px) {
            .app_come {
                font-size: 1.75rem;
            }
            .app_come_first {
                font-size: 1.125rem;
            }
        }