.form_tag {
  background-color: #d3dfff;
}

.form_text {
  text-align: center;
}

.form_momdiv {
  line-height: 200%;
  // background-color: #F7F8FA;
  background-color: black;
  padding: 1.25rem;
  border-radius: 1.25rem;
}

.form_box {
  border-radius: 0.5625rem;
  background-color: white;
  // margin: 0.75rem 0 0.75rem 0.5rem;
  padding: 0.3rem;
  display: flex;
  height: 3.125rem;
  // width: 18.375rem;
  flex: 1 1 45%;

}

.form_box_etc {
  border-radius: 0.5625rem;
  background-color: white;
  // margin: 0.75rem 0 0.75rem 0.5rem;
  padding: 0.3rem;
  display: flex;
  height: 3.125rem;
  width: 100%;
}

.direction{
  width: 100%;
  margin-top: 0.75rem;
  margin-bottom: 0;
 padding-left: 0;
  gap: 1rem;
}

.for_input {
  border: none;
  font-size: 0.875rem;
}

.for_input_sele {
  border: none;
}

// .addressinput {
//   width: 37rem;
// }

.addressinput > .for_input {
  width: 28rem;
}
.addressinput{
  border-radius: 0.5625rem;
  background-color: white;
  // margin: 0.75rem 0 0.75rem 0.5rem;
  padding: 0.3rem;
  display: flex;
  height: 3.125rem;
  width: 100%;
  margin-top: 0.75rem;
}


.bi {
  font-size: 1.25rem;
}

.forLabel {
  // margin-right: 0.6rem;
  font-size: 0.875rem;
  white-space: nowrap;
}

.hourSelect_text {
  font-size: 0.9375rem;
  font-weight: bold;
}

.selectable {
  cursor: pointer;
  // width: 6.8125rem;
  height: 1.875rem;
  align-items: center !important;
  border-radius: 1.875rem;
  border: none;
  text-align: center !important;
  background-color: transparent;
}

.selectable.selected {
  background-color: lightgray;
}

.selectcount > .for_input {
  display: none;
}

.subbtn {
  border: none;
  background: #F7A4A5;
  padding: 0 1rem;
  border-radius: 3.125rem;
  width: 18.75rem;
  height: 3.75rem;
  color: white;
}

.booking {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #396EE2;
}

.notbooking {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: red;
}

.rest {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #d0d0d0;
}

.serviceform {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allbox {
  background-color: white;
  padding: 1.25rem;
  border-radius: 1.875rem;
}

.zindex {
  z-index: 10;
  padding: 1.25rem;
}

.calendar{
  max-width: 32rem;
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-month {
  text-align: center;
  font-size: 2.1875rem;
  margin: 0 0.9375rem;
  cursor: pointer;
}

.nav-btn {
  width: 1.875rem;
  height: 2rem;
  border: none;
  font-size: 1rem;
  line-height: 2.125rem;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 4.6875rem;
}

.days {
  display: flex;
  margin: 1.5625rem 0 0.625rem;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 18.75rem;
  border-top: 1px solid #afafaf;
}

.date {
  width: calc(100% / 7);
  padding-top: 0.9375rem;
  text-align: center;
  cursor: pointer;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color: #ffff;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 1.875rem;
  height: 1.875rem;
  display: block;
  background-color: #6A92FE;
  border-radius: 50%;
  content: '';
}

.date .sunday, .date .saturday {
  display: inline-block;
  background-color: #d0d0d0;
  color: white;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
}

.red-circle {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50%;
  background-color: red;
  opacity: 50%;
  color: white;
}

.blue-circle {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  line-height: 1.875rem;
  border-radius: 50%;
  background-color: #6A92FE;
  opacity: 50%;
  color: white;
}

@media (max-width: 992px) {
  .form_tag>.container {

}
  .allbox {

  }

  .zindex {

  }
  .calendar, .main {

  }
  .form_box, .form_box_etc {

  }
  .direction {

  }
  .selectable {

  }
  .subbtn {

  }
  .addressinput > .for_input {

  }
}