   section{padding-top: 65px !important;}

    .je_Mainswiper {
        background-color: #F7F8FA;
        height: 700px;}

        .mainbanner_Video,
        .main_back,
        .maincollabo {
            position: relative;
            border-radius: 350px 0 0 0;
            border: none;
            right: 0;
            bottom: 0;
            float: none;
        }

        .main_back{
            background-image: url('/public/img/mainback_animal.png');
            border-radius: 350px 0 0 0;
            border: none;
            background-repeat: no-repeat;
            padding: 0;
            margin: 0;
            width: 1242px;
            height: 700px;
            box-sizing: border-box;
        }
        .maincollabo{
            background-image: url('/public/img/main_collabo.png');
            border-radius: 350px 0 0 0;
            border: none;
            background-repeat: no-repeat;
            padding: 0;
            margin: 0;
            width: 1242px;
            height: 700px;
            box-sizing: border-box;  
        }
        .mainActing{
            text-decoration: none;
            color: #ffff;
            background-color: #6A92FE;
            border-radius: 30px;
            padding: 1rem;
            width: 212px;
            height: 58px;
        }
        
        
        .swiper-pagination {
            position: absolute;
            text-align: center;
            transition: .3s opacity;
            transform: translate3d(0, 0, 0);
            z-index: 10;}
            

            @media (max-width: 1200px) {
                .je_Mainswiper {
                    height: 596px;
                }
                .maindiv{
                    justify-content: center;
                }
                 .main_back, .maincollabo{
                    width: 600px;
                    height: 596px;
                    background-size: cover;
                } 
                iframe{
                    width: 800px;
                    height: 596px;
                }
                .mainbanner_Video,
                .main_back,
                .maincollabo {
                    border-radius: 250px 0 0 0;
                }
                .collabologo{
                    width: 450px;
                    height: 75px;
                }
            }