   section{padding-top: 65px !important;}

    .je_Mainswiper {
        background-color: #F7F8FA;}

        .mainbanner_Video,
        .main_back,
        .maincollabo {
            position: relative;
            border: none;
            right: 0;
            bottom: 0;
            float: none;
        }

        .main_back{
            background-image: url('/public/img/mainback_animal.png');
            border: none;
            background-repeat: no-repeat;
            padding: 0;
            margin: 0;
            margin-top: 30px;
            width: 1000px;
            height: 600px;
            box-sizing: border-box;
        }
        .maincollabo{
            background-image: url('/public/img/main_collabo.png');
            border: none;
            background-repeat: no-repeat;
            padding: 0;
            margin: 0;
            margin-top: 50px;
            width: 800px;
            height: 620px;
            box-sizing: border-box;  
        }
        .mainActing{
            text-decoration: none;
            color: #ffff;
            background-color: #6A92FE;
            border-radius: 30px;
            padding: 1rem;
            width: 300px;
            height: 58px;
        }
        .mainbanner_Video{
            border-radius: 30px;
        }
        
        
        .swiper-pagination {
            position: absolute;
            text-align: center;
            transition: .3s opacity;
            transform: translate3d(0, 0, 0);
            z-index: 10;}
            

            @media (max-width: 1200px) {
                 .main_back{
                    background-image: url('/public/img/mainback1200.png');
                    height: 410px;
                    width: 600px;
                } 
                .maincollabo{
                    background-image: url('/public/img/main_collabo1200.png');
                    height: 410px;
                    width: 450px;
                }
                
                .collabologo{
                    width: 290px;
                }

                .mainbanner_Video{
                    width: 600px;
                    height: 410px;
                    margin-top: 20px;
                }
                
            }

            @media (max-width: 992px) {
    
                 .main_back{
                    background-image: url('/public/img/mainback992.png');
                    width: 430px;
                    height: 300px
                } 
                .maincollabo{
                    background-image: url('/public/img/main_collabo992.png');
                    height: 403px;
                    width: 420px;
                    margin-top: 20px;
                }
                .collabologo{
                    width: 250px;
                }

                .mainbanner_Video{
                    width: 490px;
                    height: 310px;
                    margin-top: 20px;
                }
            }
            @media (max-width: 768px) {
    
                .main_back{
                   background-image: url('/public/img/mainback992.png');
                   width: 405px;
                   height: 300px
               } 
               .maincollabo{
                   background-image: url('/public/img/main_collabo768.png');
                   height: 340px;
                   width: 370px;
                   margin-top: 20px;
               }
               .collabologo{
                   width: 190px;
               }

               .mainbanner_Video{
                   width: 490px;
                   height: 310px;
                   margin-top: 10px;
                   margin-bottom: 10px;
               }
               .swipsubtext{
                display: none;
               }
               .swiperdiv{
                flex-direction: column-reverse;
                text-align: center;
               }
               .mainActing{
                padding: 0.8rem;
            }
            /* .mainActing{
                display: none;
            } */
            .hide-on-mobile {
                display: none;
              }
           }