.popup {
    position: fixed;
    top: 7.85%;
    left: 0%;
    width: 590px;
    height: 551px;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000000;
    border-radius: 30px;
    display: none;
}

.popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 377px;
    height: 226px;
    border-radius: 30px;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 20px;
}

#clickableText {
    cursor: pointer; /* 클릭 가능한 텍스트 스타일 */
    color: blue; /* 텍스트 색상 */
}