.clickableText {
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
}

.popup {
    position: absolute;
    bottom: 6%;
    left: 0;
    width: 36.875rem;
    height: 34.4375rem;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
    border-radius: 1.875rem;
    display: none;
}

.popupContent {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.3125rem;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    width: 23.5625rem;
    height: 14.125rem;
    border-radius: 1.875rem;
}

.close {
    cursor: pointer;
    float: right;
    font-size: 1.25rem;
}

.fs_15 {
    font-size: 1rem;
}

@media (max-width: 1200px) {
    .clickableText, .close {
        font-size: 1rem;
    }
    .popup {
        width: 31rem;
        bottom: 5.2%;
        left: -2.5%;
    }
    .popupContent {
        width: 17.3125rem;
        height: 11.25rem;
    }
    .fs_15 {
        font-size: 0.75rem;
    }
}

@media (max-width: 992px) {
    .popup {
        width: 42rem;
        bottom: 3%;
        left: 12.3%;
    }
    .popupContent {
        width: 23.5625rem;
        height: 15.625rem;
    }
    .fs_15 {
        font-size: 1rem;
        margin-top: 1.25rem;
    }
}

@media (max-width: 768px) {
    .popup {
        left: -0.5%;
    }
}

@media (max-width: 576px) {
    .popup {
        width: 32.5rem;
        bottom: 3.5%;
        left: -4.5%;
    }
}

@media (max-width: 320px) {
    .popup {
        bottom: 3.3%;
        width: 20rem;
    }
    .popupContent {
        width: 11.0625rem;
        height: 15.625rem;
    }
    .fs_15 {
        font-size: 0.5rem;
        margin-top: 1.25rem;
    }
}
