    section{font-family: Noto+Sans+KR;}
   a{
        text-decoration: none;
        color: black;
    }


    .jeSwiper {
        font-family: Noto+Sans+KR;
        border-radius: 12px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .swiperbutton{
      position: absolute;
      width: 100px;
      height: 50px;
      bottom: 0;
      right: 0;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2rem;
        color: white;
    }
    .swiperimg {
      height: 100%;
      overflow: hidden;
    }
    .swiperimg img{
      width: calc(100% + 8vw);


    }
    
    @media (max-width: 1200px) {
     .swiperimg img{
      width: calc(100% + 57vw);
      }
        .swiper-button-next,
        .swiper-button-prev {
          display: none;
        }
    }
    @media (max-width: 992px){
     .container{
      max-width: none;
     }

    }
    
    @media (max-width: 768px) {
      .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .col-6 {
        flex: 0 0 auto;
        width: 100%; 
        max-width: 100%; 
      }
    }

    @media (max-width: 320px) {

    }