    section{font-family: Noto+Sans+KR;}
   a{
        text-decoration: none;
        color: black;
    }
    
    .sp_je {
        width: 700px;
    }

    .jeSwiper {
        font-family: Noto+Sans+KR;
        border-radius: 12px;
        margin-right: 20px;
        height: 346px;
        margin-bottom: 180px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        color: white;
        margin-top: 50px;
    }

    .swiper-button-prev {
        left: 580px;
    }
    .swiper-button-next{
        left:630px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2rem;
    }


