    section{font-family: Noto+Sans+KR;}
   a{
        text-decoration: none;
        color: black;
    }


    .jeSwiper {
        font-family: Noto+Sans+KR;
        border-radius: 12px;
        /* margin-right: 20px; */
        margin-bottom: 20px;
        height: 28.5vh;
    }

    .swiperbutton{
      position: absolute;
      width: 100px;
      height: 50px;
      bottom: 0;
      right: 0;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2rem;
        color: white;
    }
    .swiperimg {
      height: 100%;
      overflow: hidden;
    }
    .swiperimg img{
      width: calc(100% + 8vw);


    }
    
    @media (max-width: 1200px) {
     .swiperimg img{
      width: calc(100% + 57vw);
      transform: translateX(-30%) translateY(-30%)
      }
        .swiper-button-next,
        .swiper-button-prev {
          display: none;
        }
    }
    @media (max-width: 992px){
     .container{
      max-width: none;
     }
    }
    
    @media (max-width: 768px) {
      #social_program > .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .jeSwiper {
        height: 25.5vh;
      }
    }
    @media (max-width: 768px) {
      .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .jeSwiper {
        height: 18vh;
      }
    }

    @media (max-width: 567px) {

      .jeSwiper {
        height: 15vh;
      }
    }

    @media (max-width: 320px) {
      .jeSwiper {
        height: 10vh;
    }

    }